{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body">
                <h3 class="text-center">MY CART</h3>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Model</th>
                                    <th>Quantity</th>
                                    <th>Unit Price</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for cart in carts %}
                                    <tr>
                                        <td><img src="{{ cart.product.image }}" alt="product" width="40px" height="40px"></td>
                                        <td>{{ cart.product.name }}</td>
                                        <td>{{ cart.product.model }}</td>
                                        <td>
                                            <form action="{{ url('update_cart', {id: cart.id}) }}" method="post">
                                                <select name="cart[quantity]" class="form-control" onchange="this.form.submit()">
                                                    {% for quantity in quantities %}
                                                        {% if cart.quantity.id == quantity.id %}
                                                            <option selected="selected" value="{{ quantity.id }}">{{ quantity.value }}</option>
                                                        {% else %}
                                                            <option value="{{ quantity.id }}">{{ quantity.value }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </td>
                                        <td>{{ cart.product.price }}</td>
                                        <td>{{ cart.totalPrice|number_format(2, '.', ',') }}</td>
                                        <td>
                                            <div class="button-group">
                                                <a href="{{ url('order_product', {id: cart.product.id}) }}"
                                                   class="btn waves-effect waves-light btn-outline-light">
                                                    Order
                                                </a>
                                                {{ include('cart/delete_product.html.twig') }}
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="float-right mt-4 text-right">
                            <h3>
                                <b>Total: </b> {{ total|number_format(2, '.', ',') }}
                            </h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="text-right">
                            <form action="" method="post">
                                <a href="{{ path('index') }}" class="btn btn-primary">Cancel</a>
                                <button type="submit" class="btn btn-danger">Checkout</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}