{% extends 'base.html.twig' %}

{% block main %}
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Customer Detail</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('list_all_customers') }}">Customer</a></li>
                <li class="breadcrumb-item active">Basic</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4"> <img src="{{ customer.profile.picture }}" class="img-circle" width="150" />
                        <h4 class="card-title mt-2">{{ customer.profile }}</h4>
                        {% if customer.status == 1 %}
                            <span class="label label-success m-r-5">Active</span>
                        {% endif %}
                    </center>
                </div>
                <div>
                    <hr></div>
                <div class="card-body"> <small class="text-muted">Email address</small>
                    <h6>{{ customer.email }}</h6> <small class="text-muted p-t-30">Username</small>
                    <h6>{{ customer.username }}</h6> <small class="text-muted p-t-30">Location</small>
                    <h6>{{ customer.profile.location }}</h6><small class="text-muted">Created at</small>
                    <h6>{{ customer.createdAt|date('d-m-Y') }}</h6>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8 col-md-8">
            <div class="card card-body">
                <div class="row">
                    <div class="col-3 col-lg-3 col-md-3">
                        <div class="list-group">
                            <a href="" class="active list-group-item">Basic</a>
                        </div>
                    </div>
                    <div class="col-9 col-lg-9 col-md-9">
                        <h4 class="card-title">Basic</h4>
                        <form method="post">
                            <div class="row">
                                <div class="col-12 col-md-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>First Name</label>
                                                {{ form_row(form.profile.firstName) }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Last Name</label>
                                                {{ form_row(form.profile.lastName) }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Username</label>
                                                {{ form_row(form.username, {'attr': {readonly: "readonly"}}) }}
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label>Email</label>
                                                {{ form_row(form.email, {'attr': {readonly: "readonly"}}) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button class="btn btn-info waves-effect waves-light float-right m-t-10" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}