{% extends 'base.html.twig' %}

{% block main %}
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Product</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
                <li class="breadcrumb-item active">Product</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <a class="btn float-right hidden-sm-down btn-success" href="{{ path('product_create') }}"> Create</a>
                    <h4 class="card-title">Product List</h4>
                    <div class="table-responsive m-t-40">
                        <table id="example23" class="display nowrap table table-hover table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Image</th>
                                <th>Product Name</th>
                                <th>Product Category</th>
                                <th>Model</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Availability</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products %}
                                <tr>
                                    <td><img src="{{ product.image }}" alt="product" width="40px" height="40px"></td>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.model }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>
                                        {% if product.quantity > 0 %}
                                            In Stock
                                        {% else %}
                                            Out of Stock
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div class="button-group">
                                            <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn waves-effect waves-light btn-warning">Edit</a>
                                            {% if app.user.isAdmin() %}
                                                {{ include('product/delete.html.twig') }}
                                            {% endif %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}