<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="csrf-token" content="{{ csrf_token('') }}" />
    <title>{% block title %}Lumos Shop{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <div id="main-wrapper">
        {{ include('layouts/header.html.twig') }}
        {{ include('layouts/sidebar.html.twig') }}

        <div class="page-wrapper">
            <div class="container-fluid">
                {% block body %}
                    <div>
                        <div id="main">
                            {{ include('default/_flash_messages.html.twig') }}
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}