<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Lumos Shop{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/colors/megna-dark.css') }}">
    {% endblock %}
</head>

<body class="" id="{% block body_id %}{% endblock %}">

{% block header %}
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ path('index') }}">
                    Home
                </a>
            </div>
            <div class="navbar-collapse">
                <ul class="navbar-nav mr-auto mt-md-0">
                </ul>
                <ul class="navbar-nav my-lg-0">
                    {% if app.user %}
                        <ul class="navbar-nav my-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    User Options
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                    <ul class="dropdown-user">
                                        <li><a href="{{ path('profile') }}"><i class="fa fa-user"></i> My Profile</a></li>
                                        <li><a href="{{ path('logout') }}"><i class="fa fa-power-off"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    {% else %}
                        <li class="nav-item text-uppercase">
                            <a class="nav-link" href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item text-uppercase">
                            <a class="nav-link" href="{{ path('register') }}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="page-wrapper">
    <div class="container-fluid">
        {% block body %}
            <div class="row">
                <div id="main" class="col-12">
                    {{ include('default/_flash_messages.html.twig') }}
                    {% block main %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
{% endblock %}