<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Lumos Shop{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/colors/megna-dark.css') }}">
    {% endblock %}
</head>

<body class="fix-header fix-sidebar card-no-border">
    <div id="main-wrapper">
        {{ include('layouts/header.html.twig') }}
        {{ include('layouts/sidebar.html.twig') }}

        <div class="page-wrapper">
            <div class="container-fluid">
                {% block body %}
                    <div>
                        <div id="main">
                            {{ include('default/_flash_messages.html.twig') }}
                            {% block main %}{% endblock %}
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>

{% block javascripts %}
    <script src="{{ asset('/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/js/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('/js/sidebarmenu.js') }}"></script>
    <script src="{{ asset('/js/sticky-kit.min.js') }}"></script>
    <script src="{{ asset('/js/custom.min.js') }}"></script>
    <script src="{{ asset('/js/some.js') }}"></script>
{% endblock %}