{% extends 'base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    {{ form_row(form.currentPassword) }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    {{ form_row(form.newPassword.first) }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="form-group">
                                    {{ form_row(form.newPassword.second) }}
                                </div>
                            </div>
                        </div>
                    <button type="submit" class="btn btn-info waves-effect waves-light m-t-10">Change Password</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}