{% extends 'base.html.twig' %}

{% block main %}
    <div class="row page-titles">
        <div class="col-md-6 col-8 align-self-center">
            <h3 class="text-themecolor mb-0 mt-0">Profile</h3>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="mt-4"> <img src="{{ profile.picture }}" class="img-circle" width="150" />
                        <h4 class="card-title mt-2">{{ profile }}</h4>
                    </center>
                </div>
                <div>
                    <hr></div>
                <div class="card-body"> <small class="text-muted">Email address </small>
                    <h6>{{ user.email }}</h6> <small class="text-muted p-t-30 db">Username</small>
                    <h6>{{ user.username }}</h6> <small class="text-muted p-t-30 db">Location</small>
                    <h6>{{ profile.location }}</h6>
                </div>
            </div>
        </div>
        {{ include('user/update_profile.html.twig') }}
    </div>
{% endblock %}